
.categorie{
    height: 300px;
    width: 300px;
display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;


}
#full{
    height: 900px;
    width: 1500px;
    border-style: groove;
    border-bottom-width: 8px;
    display: flex;
    color:white;
    font-size: 20px;
    text-align:start;


}
#carousel{
    height: 900px;
    width: 600px;
background-color: black;
    display: inline-block;

}
#coordonnée{

    height: 300px;
    width: 600px;
    background-color: #35bc7A;


}
h1{

}
#grillage{
    height: 900px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;

}
.orange{
    background-color:#f87628;
text-align: center;
}

.blue1{
    background-color: #3495b7;
}
.blue2{
    background-color: #3495b7;

}

.red{

    background-color: #db5445;

}
.green{
    background-color: #35bc7A;


}
.orange1{
    background-color: #f87628;
}.orange2{
     background-color: #fea607;
 }
.far,.fas,.fab{
    font-size:  70px;




}
body{
    font-family: 'Roboto', sans-serif;

}
.slideshow {
    width: 350px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
}
.G{
    font-size: 2em;

}
.G:hover{
    font-size:4em ;
    color: #cb000e;
}
.D{
    font-size: 2em;
}
.D:hover{
    font-size:4em ;
    color: #cb000e;}